/* css styles reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------------------- */
body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}

.container {
    padding: 60px;
}

/* Navbar Section */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.list-item {
    list-style-type: none;
}

.list-item:nth-child(1) {
    font-weight: 700;
    font-size: 20px;
    position: relative;
}

.list-item:nth-child(1)::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #000000;
    width: 42px;
    left: 22%;
    bottom: 0;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-button {
    padding: 5px 50px;
    border: 2px solid #000000;
    border-radius: 15px;
    font-size: 22px;
    background-color: #ffffff;
    color: #555454;
}

/* Hero Banner Section */

section[aria-label='banner'] {
    margin-top: 150px;
}

.hero-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.star {
    position: absolute;
    right: 9%;
    font-size: 18px;
    top: 3.5%;
}

.star img {
    width: 50px;
}

.globe {
    position: absolute;
    right: 37%;
    top: -7%;
}

.globe img {
    width: 50px;
}
.square {
    position: absolute;
    left: 17%;
    bottom: -10%;
    z-index: -1;
}

.hero-container-right {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #555454;
    /* gap: 80px; */
    margin-left: 110px;
}

.hero-heading {
    font-weight: 800;
    font-size: 39px;
    color: #000000;
    margin-bottom: 40px;
}

.hero-description {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 90px;
}

.button-email,
.button-join {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    color: #555454;
}

.button-email {
    padding: 5px 18px;
    margin-right: 7px;
    background-color: #ffffff;
}

.button-join {
    padding: 4px 6px;
    color: #ffffff;
    background-color: #000000;
}

.hero-container-right div:last-child {
    text-align: center;
}

.contact-heading {
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
}

.icons span img {
    width: 30px;
    margin-right: 7px;
}
